
.wdxh.mainpage .titleInfo{
  top: -32px;;
}
.wdxh{
  .swiperImgConter{
    margin-top:32px;
    .swiper-slide{
      height:260px;
      img{
        height:100%;
      }
      img:first-child{
      /*  height:calc(100% + 30px);
        position: relative;
        top:-32px;*/
      }
    }
  }

}
/*响应式*/
@media (min-width: 720px) {
}

@media (min-width: 1080px) {
}

@media (min-width: 1366px) {
}

@media (min-width: 1680px) {
}

@media (min-width: 1920px) {
}
