.aboutPage{
  position: relative;
  width:100%;
  height:100%;
  overflow: auto;
  /* CSS Document */
  .mainContent{
    height: auto;
    .swiperImg{
      width:100%;
    }
    .swiperImg:not(:first-child){
      margin-left:0%;
    }
  }


  @media (min-width: 720px) {
    .mainContent {
      height: auto;
      .swiperImg {
        width: 100%;
      }
      .swiperImg:not(:first-child){
        margin-left:0%;
      }
    }
  }

  @media (min-width: 1080px) {
    .mainContent {
      height: auto;
      .swiperImg {
        width: 45%;
      }
      .swiperImg:not(:first-child){
        margin-left:4%;
      }
      .swiperImg:nth-child(3n){
        margin-left:0%;
      }
    }
  }

  @media (min-width: 1366px) {
    .mainContent {
      height: auto;
      .swiperImg {
        width: 45%;
      }
      .swiperImg:not(:first-child){
        margin-left:4%;
      }
      .swiperImg:nth-child(3n){
        margin-left:0%;
      }
    }
  }

  @media (min-width: 1680px) {
    .mainContent {
      height: auto;
      .swiperImg {
        width: 30%;
      }
      .swiperImg:not(:first-child){
        margin-left:2%;
      }
    }
  }

  @media (min-width: 1920px) {
    .mainContent {
      height: auto;
      .swiperImg {
        width: 30%;
      }
      .swiperImg:not(:first-child){
        margin-left:2%;
      }
    }
  }
  .personal{
    width:1280px;
    min-height:600px;
    height:auto;
    overflow:hidden;
    margin:0 auto;
    margin-top:20px;
  }
  .personal .personal_left{
    width:157px;
    min-height:358px;
    height:auto;
    overflow:hidden;
    float:left;
    border:1px solid #cdcdcd;
  }
  .personal .personal_left ul li{
    width:140px;
    height:70px;
    border:1px solid #f2f2f2;
    font-size:16px;
    line-height:70px;
    padding-left:15px;
  }
  .personal .personal_left ul li a{
    color:#333333;
    display:block;
  }
  .personal .personal_left ul li.p_center{
    width:140px;
    height:70px;
    background:#f9f9f9;
    border-bottom:1px solid #f2f2f2;
    border-left:1px solid #e17211;
    color:#e17211;
    font-size:16px;
    line-height:77px;
    padding-left:15px;
  }
  .personal .personal_left ul li.p_center img{
    float:right;
    margin-right: 10px;
    margin-top: 30px;
  }
  .personal .personal_right{
    width:1010px;
    min-height:650px;
    height:auto;
    position:relative;
    float:right;
    margin-bottom:20px;
    padding-bottom:30px;
    border:1px solid #cdcdcd;
  }
  .aboutus_right{
    width:1010px;
    min-height:500px;
    height:auto;
    float:right;
  }
  .aboutus_right .aboutus_bottom{
    width:1008px;
    min-height:500px;
    margin-top:20px;
    margin-bottom:40px;
    border:1px solid #cdcdcd;
  }
  .aboutus_tabPanel ul{
    height:30px;
    font-size:16px;
    padding-left: 40px;
    margin-top:25px;
  }
  .aboutus_tabPanel ul li{
    float:left;
    height:29px;
    line-height:30px;
    width:85px;
    text-align:center;
    cursor:pointer;
    color:#666666;
    margin-right: 20px;
  }
  .aboutus_tabPanel ul li a{ color:#666666;}
  .aboutus_tabPanel .hit{
    border-bottom:2px solid #e17211;
    cursor:pointer;
    color:black;
    color:#e17211;
  }
  .aboutus_bottom .about_con{
    width:1008px;
    min-height:300px;
    height:auto;
    overflow:hidden;
    padding-top:40px;
    padding-bottom:50px;
  }
  /*ç”¨æˆ·ä¸­å¿ƒç™»é™†é¡µé¢*/
  .personal_login{
    width:1190px;
    height:600px;
    margin:0 auto;
  }
  .personal_login .personal_loginleft{
    width:520px;
    height:420px;
    float:left;
  }
  .personal_login .personal_loginleft img{
    margin:80px 0 0 80px;
  }
  .personal_loginright{
    width:320px;
    height:360px;
    float:left;
    border:1px solid #eeeeee;
    margin:60px 0 0 150px;
  }
  .personal_loginright h1{
    width:150px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:28px;
    color:#ff9233;
    border-bottom:1px solid #ff9233;
    font-weight:normal;
    margin:0 auto;
  }
  .personal_loginright .personal_loginname{
    width:260px;
    height:35px;
    line-height:35px;
    margin:0 auto;
    border:1px solid #eeeeee;
    margin-top:15px;
  }
  .personal_loginright .personal_loginname .lome{
    width:80px;
    height:35px;
    padding-right:10px;
    float:left;
    color:#666666;
    font-size:14px;
    text-align:right;
  }
  .personal_loginright .personal_loginname .lomid{
    width:100px;
    height:35px;
    line-height:35px;
    float:left;
  }
  .personal_loginright .personal_loginname .lomid input{
    width:100px;
    height:35px;
    border:none;
  }
  .personal_loginright .personal_loginname .loright{
    width:170px;
    height:35px;
    float:right;
  }
  .personal_loginright .personal_loginname .loright input{
    width:170px;
    height:35px;
    border:none;
  }
  .personal_loginright .personal_loginname .loright input.per_input{
    width:150px;}
  .personal_loginright .personal_loginname img{float:right;margin:15px 5px 0 0;}



  /*é€‰æ‹©åŸŽå¸‚*/
  .personal_city{}






  .personal_loginright .personal_loginname .loyan{
    width:70px;
    float:left;
    height:25px;
    line-height:25px;
    background:#ff9233;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    color:#fff;
    margin-top:5px;
    text-align:center;
  }
  .personal_loginright .personal_loginname .loyan a{
    color:#fff;
    display:block;
  }

  .personal_loginright .personal_btn{
    width:92px;
    height:27px;
    margin:0 auto;
    margin-top:30px;
  }
  .personal_loginright p{
    padding:10px 30px;
    line-height:20px;
    color:#999999;
  }

  /*æˆ‘çš„å¡åˆ¸æ ·å¼*/
  .personal_right h2{
    line-height:50px;
    font-weight: normal;
    padding:0 50px;
    color:#666666;
    font-size:18px;
  }
  .crad_main{
    width:900px;
    min-height:200px;
    height:auto;
    overflow:hidden;
    margin:0 auto;
    padding-bottom:40px;
  }
  .crad_main .card_mainleft{
    width:450px;
    min-height:200px;
    height:auto;
    overflow:hidden;
    text-align:center;
    float:left;
    text-align:center;
  }
  .crad_main .card_mainleft .card_img{
    width:330px;
    height:101px;
    margin:0 auto;
    margin-top:30px;
  }

  .crad_main .card_mainleft p{
    text-align:center;
    font-size:16px;
    line-height:50px;
    color:#333333;
  }
  .crad_main .card_mainleft p.card_p{
    font-size:12px;
    color:#333333;
    line-height:20px;
  }
  .crad_main .card_a{
    width:100px;
    height:40px;
    line-height:40px;
    text-align:center;
    margin:0 auto;
    margin-top:20px;
    font-size:14px;
    border:1px solid #e17211;
    color:#e17211;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  .crad_main .card_mainleft .card_h{
    background:#e17211;
    color:#fff;}

  .crad_main .card_ah{
    width:100px;
    height:40px;
    line-height:40px;
    text-align:center;
    margin:0 auto;
    margin-top:20px;
    font-size:14px;
    border:1px solid #e17211;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#e17211;
  }
  .crad_main .card_ah a{
    color:#fff;
    display:block;
  }
  .crad_main .card_a a{
    color:#e17211;
    display:block;
  }
  .crad_main .card_h a{
    color:#fff;
    display:block;
  }
  .crad_xian{
    width:900px;
    height:1px;
    background:#eeeeee;
    margin:10px auto;
  }
  .card_imgleft{
    width:80px;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    font-size:26px;
    float:left;
    margin-top:20px;
    border-right:1px solid #fff;}
  .card_imgmid{
    width:200px;
    float:left;
    padding-top:10px;
    padding-left:10px;
  }
  .card_imgmid p.imgmid_p{
    color:#fff;
    line-height:25px;
    font-size:15px;
    text-align:left;

  }
  .card_imgmid p.imgmid_px{
    font-size:12px;
  }
  .card_imgright{
    width:20px;
    height:60px;
    font-size:16px;
    margin-top:20px;
    padding-left:5px;
    color:#fff;
    line-height:20px;
    border-left:1px solid #fff;
    float:right;
    margin-right:10px;
  }
  /*æˆ‘çš„è´¦æˆ·æ ·å¼*/
  .account_name{
    width:1000px;
    height:40px;
    line-height:40px;
    clear:both;
    margin-top:10px;
    margin-bottom:20px;
  }
  .account_name .account_left{
    width:130px;
    height:40px;
    text-align:right;
    color:#666666;
    font-size:14px;
    float:left;
  }
  .account_name .account_mid{
    width:300px;
    height:40px;
    line-height:40px;
    float:left;
    border:1px solid #efefef;
  }
  .account_name .account_mid input{
    width:290px;
    height:40px;
    line-height:40px;
    color:#727272;
    padding-left:10px;
    font-size:14px;
    border:none;
  }
  .account_name .account_right{
    width:95px;
    height:40px;
    line-height:40px;
    background:#e17211;
    color:#fff;
    float:left;
    text-align:center;
    font-size:14px;
  }
  .account_name .account_right a{
    color:#fff;
    display:block;
  }
  .account_name .account_mids{
    width:200px;
    height:40px;
    float:left;
  }
  .account_name .account_mids input{
    float:left;
    margin-top:15px;
  }
  .account_name .account_mids p{
    padding:0 10px;
    color:#666666;
    font-size:14px;
    float:left;
  }
  .account_name .account_midx{
    width:300px;
    height:40px;
    line-height:40px;
    float:left;
    background:#eeeeee;
  }
  .account_name .account_midx input{
    width:290px;
    height:40px;
    line-height:40px;
    border:none;
    padding-left:10px;
    background:#eeeeee;
  }
  .account_name .account_midadd{
    width:500px;
    height:40px;
    line-height:40px;
    float:left;
    border:1px solid #efefef;
  }
  .account_name .account_midadd input{
    width:480px;
    height:40px;
    line-height:40px;
    border:none;
    padding-left:10px;
  }
  .account_name p{color:#808080;}
  .account_name .account_coupons{
    width:290px;
    height:40px;
    line-height:40px;
    padding-left:10px;
    background:#eeeeee;
    float:left;
  }
  .account_name .account_coupons p{
    color:#727272;
    float:left;
  }
  .account_name .account_coupons img{
    float:right;
    margin:10px 5px 0 0;
  }
  .account_name .account_mid select{
    width:290px;
    margin-top: 8px;
    padding-left: 10px;
    border:none;
    color:#666666;
  }
  .account_name .mid_select{
    width:100px;
    height:40px;
    text-align:center;
    color:#666666;
  }
  .account_btn{
    width:80px;
    height:35px;
    margin-left:20%;
    border:1px solid #e17211;
    border-radius:5px;
    line-height:35px;
    text-align:center;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom:20px;
  }
  .account_btn a{
    color:#e17211;
    display:block;
  }

  /*å…³äºŽæˆ‘ä»¬è”ç³»æˆ‘ä»¬é¡µé¢*/
  .personal_righta{padding-bottom:20px;}
  .personal_righta h3{
    text-align:center;
    line-height:50px;
    color:#666666;
    font-weight:normal;
    font-size:18px;
  }
  .personal_right h3{
    text-align:center;
    line-height:50px;
    color:#666666;
    font-weight:normal;
    font-size:18px;
  }
  .personal_righta .contact_img{
    margin:15px 40px;
  }
  .personal_righta .contact_p{
    line-height:30px;
    color:#666666;
    font-size:15px;
    display:inline-block;
    margin:0 0 0 10px;
    vertical-align: top;
  }
  .personal_righta div.icon img{
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
  }
  .personal_righta div.icon{
    display:inline-block;
    width:20px;
    height:30px;
    position:relative;
    margin-left:38px;
  }
  /*æ‹›è´¤çº³å£«æ ·å¼*/
  .recruit_con{
    width:980px;
    min-height:200px;
    height:auto;
    overflow:hidden;
    margin:0 auto;
    margin-top:25px;
  }
  .recruit_con ul li{
    width:980px;
    height:45px;
    line-height:45px;
  }
  .recruit_con ul li.recruit_li{
    background:#f8f8f8;
    line-height:45px;
    color:#666666;
  }
  .recruit_con ul li p.recruit_job{
    width:415px;
    height:45px;
    padding-left:20px;
    float:left;
  }
  .recruit_con ul li p.recruit_num{
    width:180px;
    height:45px;
    float:left;
    text-align:center;
  }
  .recruit_con ul li p.recruit_x{
    width:1px;
    height:30px;
    background:#cccccc;
    float:left;
    margin-top:7px;
  }
  .recruit_con ul li.recruit_t{
    width:978px;
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
    color:#666666;
  }
  .recruit_con ul li.recruit_t a{color:#666666;}
  .recruit_con ul li.recruit_t a:hover{
    width:978px;
    display:block;
    height:45px;
    color:#e17211;
    background:#fffbea;
  }
  .personal_righta pre{
    line-height:35px;
    color:#666666;
    padding-left:50px;
  }
  .recruiting_btn{
    width:150px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff;
    background:#e17211;
    margin:30px 0 30px 135px;
  }
  .recruiting_btn a{
    color:#fff;
    display:block;
  }
  .rec_con{width:488px;position:fixed;height:350px;top:50%;left:50%;display:none;background:#ffffff;z-index:9999;margin-left:-244px;margin-top:-175px; border-radius:5px;}
  .rec_con pre{ line-height:30px; font-size:18px; color:#666666; padding:10px 20px;}
  .rec-title{width:100%;margin:10px 0px 0px 0px;text-align:center;line-height:40px;height:40px;font-size:18px;position:relative; color:#ff9933; font-size:20px;}
  .rec-title span{position:absolute;right:-10px;top:-30px;width:40px;height:40px;}
  .rec-title span a{display:block;}
  .rec-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;display:none;}



  /*ç»´ä¿®å¡é¡µé¢å¼¹æ¡†æŒ‰é’®*/
  .binding_con{width:500px;position:fixed;height:450px;top:50%;left:50%;display:none;background:#ffffff;z-index:9999;margin-left:-250px;margin-top:-225px; border-radius:10px; text-align:center;}
  .binding_con pre{ line-height:30px; font-size:18px; color:#333333; text-align:center; margin-top:20px;}
  .binding-title{width:98%;text-align: left;line-height:60px; padding-left:2%;height:60px;font-size:18px;position:relative; color:#ff9933; font-size:20px;margin-bottom:40px; border-bottom:1px solid #cccccc;}
  .binding-title span{position:absolute;right:-10px;width:40px;height:40px; top:20px;}



  .buy_con{width:500px;position:fixed;height:450px;top:50%;left:50%;display:none;background:#ffffff;z-index:9999;margin-left:-250px;margin-top:-225px; border-radius:10px; text-align:center;}
  .buy_con pre{ line-height:30px; font-size:18px; color:#333333; text-align:center; margin-top:20px;}
  .buy-title{width:98%;text-align: left;line-height:60px; padding-left:2%;height:60px;font-size:18px;position:relative; color:#ff9933; font-size:20px;margin-bottom:40px; border-bottom:1px solid #cccccc;}
  .buy-title span{position:absolute;right:-2px;width:40px;height:40px; top:20px;}
  /*å…³äºŽæˆ‘ä»¬ ä¸‹è½½ä¸“åŒº*/
  .tabPanel ul{height:30px; padding-left:90px;}
  .tabPanel ul li{
    float:left;
    margin:0 30px 0 20px;
    line-height:30px;
    width:120px;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#f8f8f8;
  }
  .tabPanel .hit{
    border-bottom:1px solid #fff;
    cursor:pointer;
    color:#fff;
    background:#e17211;
  }
  .pane{border-top:0;min-height:100px;display:none; text-align:center; clear:both; padding-top:20px;}
  .pane p{ text-align:center; line-height:20px; color:#666666; margin-top:10px;}
  .pane h4{padding:10px 15px 0 10px;font-size:26px; color:#e17211;}
  .pane p.data{ text-align:center; line-height:20px; font-size:16px; color:#e17211; margin-top:10px;}
  .pane p.data a{color:#e17211;}


  /*å…¬å¸ä»‹ç»*/
  .company {
    text-indent: 2em;
    padding: 5px 25px;
    color: #666666
  }
  .articl_first {
    text-indent: 2em;
    padding: 5px 50px;line-height:1.2em;
    color: #666666
  }
  .history {
    text-indent: 2em;
    padding: 5px 25px;line-height:2em;
    color: #666666
  }
  .time{
    padding:5px 50px;line-height:2em;
    color:#666666}

  /*å…¬å¸æ–‡åŒ–*/
  .t_word{
    font-size:14px;
    font-weight:bold;
    color:#666666;
    margin-bottom:20px;
    margin-left:50px;
  }
  .small_b{
    margin-left:110px;
    margin-bottom:18px;
  }
  .ftw_a{
    font-size:18px;
    color:#333333;
    margin-left:120px;
    margin-bottom:25px;
  }
  .ftw_b{
    font-size:18px;
    color:#333333;
    margin-left:140px;
    margin-bottom:25px;
  }
  .four_text{
    margin:0 auto;
  }
  .more_four_text{
    margin-left:70px;
    margin-top:22px;
    margin-bottom:20px;
  }
  .st_b{
    font-size:12px;
    color:#666666;
    line-height:20px;
  }
  .big_core{
    margin-left:180px;
  }
  .st_a{
    font-size:14px;
    color:#333333;
    line-height:50px;
  }
  .three_text{
    margin:30px;
  }
  /*åˆä½œä¼™ä¼´*/
  .hz_word{
    margin-top:15px;
    margin-left:60px;
    margin-bottom:35px;
  }
  .xiaomihz{
    margin-left:30px;
    margin-bottom:50px;
  }
  /*å…¬å¸æ ¸å¿ƒ*/
  .zhou_img{
    float:left;
    margin-left:70px;
  }
  .zhou_p{
    float: left;
    width:623px;
    height:182px;
    margin-top:9%;
    margin-left:40px;
  }
  .xia_img{
    float:left;
    padding: 10px;
    margin-left:30px;
  }
  .xia_p{
    float:left;
    width:623px;
    height:180px;
    margin-top:90px;
    margin-left:70px;
  }
  .jieshao{
    margin:0 auto;
    width:1000px;
    height:300px;
    clear:both;
  }
  .p_a{
    font-size:22px;
    font-weight:bold;
    margin-bottom:15px;
    color:#333333
  }
  .p_b{
    font-size:18px;
    margin-bottom:15px;
    color:#333333;
  }
  .p_c{
    color:#666666;
    line-height:20px;
  }
  /*å“ç‰Œæ ‡è¯†*/
  .about_p{font-size:12px;
    text-indent:53px;
    color:#666666;
  }
  .about_pp{
    text-align:center;
  }
  .about_ppp{font-size:12px;
    color:#666666;padding:20px 53px;
    line-height:30px;
  }
  /*æ–°é—»åŠ¨æ€*/
  .personal_right h3{
    text-align:center;
    line-height:50px;
    color:#666666;
    font-weight:normal;
    font-size:18px;
  }
  .riqi{
    float:right;
  }
  .newsliname{
    height:30px;
    padding:0 20px;
    border-bottom:solid #CCC 1px;
    line-height:30px;
  }
  p.newspt a{ color:#666666; float:left;}
  p.newspt a:hover{ color:#e17211;}
  .newsliimg{
    margin-right:5px;
    float:left;
    margin-top:12px;
  }
  .fyn{
    float:left;
    height:35px;
    width:38px;
    text-align:center;
    border:1px solid #cccccc;
    line-height:38px;
  }
  .fyn a{ color:#666666; display:block;}
  .fyna{float:left; width:38px; height:38px;}
  .fanye{
    height:50px;
    width:600px;
    position:absolute;
    left:450px;
    top:90%;
  }
  .fynt{
    float:left;
    padding:0px 5px;
    line-height:38px;
  }
  .fytext{
    width:38px;
    height:25px;
    line-height:25px;
    text-align:center;
    margin-top:5px;
    float:left;
  }
  .fytext input{
    height:25px;
    text-align:center;
    width:38px;
  }
  .fyinput{
    width:37px;
    height:37px;
    float:left;
    color:#fff;
    background:#e17211;
  }
  .fyinput input{
    height:37px;
    width:37px;
    border:none;
    background:#e17211;
    color:#fff;
    cursor:pointer;
  }
  .fytext{
    float:left;
    height:25px;
    width:40px;
  }
  /*æ–°é—»ä»‹ç»-è¯¦ç»†æ–‡å­—é¡µé¢*/
  .p_title{
    line-height:30px;
    font-size:18px;
    color:#666;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
  }
  .p_time{
    line-height:20px;
    font-size:12px;
    color:#999;
    text-align:center;
    margin-bottom:20px;
  }
  .p_words{
    text-indent:2em;
    color:#666666;
    font-size:14px;
    line-height:30px;
    padding:0px 50px;
  }
  .p_yellow{
    color:#e17211;
    font-size:18px;
    line-height:20px;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
  }
  .jump{
    line-height:30px;
    text-align:center;
    margin-top:20px;
    margin-bottom:15px;
    color:#666666;
    font-size:14px;

  }
  .bigword{
    font-weight:bold;
  }
  .word_jump{ margin-right:40px;}
  .word_jump a:hover{ color:#e17211;}
  .word_jump a{ color:#666666;}

  .list_article{
    width:1010px;
    height:50px;
    line-height:30px;
    border-bottom:1px solid #eeeeee;
    margin:40px 0px;
  }
  .list_article_left{
    color:#6a6a6a;
    padding-left:80px;
    float:left;
    margin-right:10px;
  }
  .list_article_right{
    width:200px;
    height:30px;
    float:left;
  }
  .article_warn{
    padding:0px 40px;
    color:#666666;
    font-size:14px;
    line-height:30px;}
  .article_p{}
  /*å¸®åŠ©ä¸­å¿ƒ  å¸¸è§é—®é¢˜*/
  .help_search{
    width:500px;
    height:60px;
    line-height:60px;
    margin:0 auto;
    background:#fff;
    z-index:3;border-radius:35px;
    -moz-border-radius:35px;
    -webkit-border-radius:35px;
    box-shadow:1px 1px 4px #d6d5d6;
    -moz-box-shadow:1px 1px 4px #d6d5d6;
    -webkit-box-shadow:1px 1px 4px #d6d5d6;
  }
  .help_search span{float:right;margin-top:6px;}
  .help_search .select{float:left;margin-top:10px;display:inline;margin-right:8px; border-right:1px solid #cccccc;}
  .help_search .text{float:left; border:none;color:#cccccc;}
  .help_search .text input{width:290px; margin-top:10px;padding-top:3px;height:30px; border:none; color:#bbbbbb; padding-left:20px; font-size:16px;}


  /*å¸®åŠ©ä¸­å¿ƒ æ„è§åé¦ˆ*/
  .pane_back{
    width:600px;
    height:150px;
    margin:0 auto;
    padding:20px 0;
  }
  .back_left{
    width:100px;
    line-height:20px;
    float:left;
    color:#666666;
  }

  .back_right{
    width:400px;
    line-height:30px;
    height:150px;
    float:left;
    border:1px solid #eeeeee;
  }
  .back_right textarea{
    width:380px;
    border:none;
    height:150px;
    font-size:12px;
    line-height:25px;
    text-align:left;
  }
  .pane_back1{
    width:600px;
    height:50px;
  }
  .back1_left{
    width:100px;
    line-height:50px;
    float:left;
    color:#666666;
  }
  .back1_right{
    width:400px;
    height:40px;
    float:left;
    border:1px solid #eeeeee;
  }
  .back1_right input{
    width:380px;
    border:none;
    height:40px;
    padding-left:10px;
  }
  .pane_btn{
    width:80px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    text-align:center;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #e17211;
    margin-top:20px;
  }
  .pane_btn a{ color:#e17211; display:block;}
  .pane_con{
    width:500px;
    min-height:200px;
    padding-top:25px;
    color:#666666;
  }
  .pane_con .pane_con_h{
    width:500px;
    height:35px;
    line-height:35px;
    margin-top:15px;
    background:#eeeeee;
  }
  .pane_con .pane_con_h img{
    float:left;
    margin:8px 0 0 10px;
  }
  .pane_con .pane_con_h p{
    line-height:35px;
    float:left;
    margin-top:0px;
    padding-left:20px;
  }
  .one{width:500px;margin:0 auto;}
  .one .top{background:#eeeeee;height:33px;line-height:33px;width:500px;padding-left:28px;color:#666666;font-weight:bold;margin-top:10px; text-align:left;}
  .iocn{display:block;width:16px;height:16px;background-repeat:no-repeat;float:left;margin:10px 0px 0px 3px;padding-right:10px;}
  div.content{width:460px;
    line-height:25px;
    text-align:left;
    padding:5px 0 5px 40px;
    display:none;
    color:#666666;}
  div.content p.kai_p{
    text-align:left;
    padding-left:15px;
  }
  /*æˆ‘çš„è®¢å•*/
  .SelectControl .arrow{width:15px;height:19px;overflow:hidden;display:inline-block;float:right;margin-top: 11px;}
  .SelectControl{border:solid 1px #f1f1f1;height:30px;width:100px;background:#fff;position:relative;cursor:pointer;float:left; margin-right:10px; box-shadow:3px 3px 3px #f1f1f1; }
  .SelectControl .arrow{background-position:0 0;}
  .SelectControl input{background:none;border:none; width:60px;margin:9px 0 0 6px;font-size:12px;cursor:pointer;float:left;display:inline; color:#333333; padding-left:15px;}
  .SelectControl ul{position:absolute;left:-1px;top:30px;border-width:0px 1px 1px 1px;border-style:solid;border-color:#f1f1f1;background:#fff;box-shadow:3px 3px 3px #f1f1f1;}
  /*.SelectControl li{height:30px;line-height:30px;overflow:hidden;padding:0 20px;cursor:pointer; color:#333333;}
  .SelectControl li.on{background: url(../images/order_2.jpg) 5px center no-repeat;color:#e4393c;}*/
  .order-checkbox + label {
    width:60px;
    color:#333333;
    display: inline-block;
    position: relative;
    line-height:25px;
    margin-left:10px;
    margin-bottom:8px;
    font-size:12px;
    cursor:pointer;
    padding-left:20px;
  }
.order-checkbox:checked + label {
  color: #333333;
}

.order_s{
  width:200px;
  height:30px;
  line-height:30px;
  float:right;
  border:1px solid #cccccc;
}
.order_s input{
  width:140px;
  line-height:30px;
  float:left;
  color:#999999;
  padding-left:9px;
  border:none;
}
.order_s a.arder_s_a{
  width:50px;
  height:30px;
  text-align:center;
  background:#e17211;
  float:left;
  color:#fff;
  border-left:1px solid #cccccc;
}
.order_p{
  text-align:center;
  line-height:30px;
  color:#666666;
  margin-bottom:10px;
}
.personal_right table tr.order_tr{
  background:#f8f8f8;
  line-height:30px;
  color:#666666;
  text-align:center;
}
.personal_right table tr{
  line-height:40px;
  color:#666666;
  text-align:center;
  border-bottom:1px solid #eeeeee;
}
.personal_right table tr td{
  border-right:1px solid #eeeeee;
}
.personal_right table tr td.order_td{
  border-right:none;
}
.personal_right table tr td a{
  padding:5px 20px;
  border:1px solid #cccccc;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  color:#e17211;
}
.personal_right .order_img{
  width:194px;
  height:168px;
  margin: 80px 380px;
}

/*ç™»å½•é¡µé¢åŸŽå¸‚é€‰æ‹©æ ·å¼*/
.select-wrapper{
  font:normal 14px '\5FAE\8F6F\96C5\9ED1';
  width:280px;
  height:34px;
  position:relative;
  cursor:pointer;
  display:inline-block;
  *display:inline;
  *float:left;
  *margin-right:10px;
  background:#fff;
  color:#666666;
}
.select-button{
  font:normal 14px '\5FAE\8F6F\96C5\9ED1';
  width:238px;
  height:34px;
  border:0;
  color:#666666;
  background:#fff;
  cursor:pointer;
  padding:0 26px 0 10px;
  overflow:hidden;
  text-align:left;
  outline:none;
  white-space:nowrap;
  word-break:keep-all;
  text-overflow:ellipsis;
}
.select-down{
  position:absolute;
  top:21px;
  right:12px;
  height:0;
  width:0;
  overflow:hidden;
  font-size:0;
  border-style:solid;
  border-width:6px;
}
.disabled{
  color:#666666;
}
.select-list{
  width:238px;
  background:#fff;
  display:none;
  z-index:2;
  position:absolute;
  left:-1px;
  top:35px;
  overflow:hidden;
}
.select-list ul{
  margin:0;
  padding:0;
  overflow-x:hidden;
  overflow-y:auto;
  line-height:25px;
  max-height:225px;
}
.select-list ul li{
  width:auto;
  height:34px;
  padding-left:10px;
  cursor:pointer;
  overflow:hidden;
  white-space:nowrap;
  word-break:keep-all;
  text-overflow:ellipsis;
}
.select-list ul li.selected,
.select-list ul li:hover{
  color:#fff;
  background:#e17211;
}

/* ä¸‹æ‹‰åˆ—è¡¨ä¸å¯ç”¨æ ·å¼ */
.select-button-disable{
  color:#666666;
  width:238px;
  height:34px;
  border:1px solid #eeeeee;
  background:#fff;
  cursor:pointer;
  padding-left:10px;
  overflow:hidden;
  text-align:left;
  outline:none;
}
.select-down-disable{
  color:#666666;
  font-size:18px;
  position:absolute;
  top:0;
  right:10px;
  line-height:34px;
}

.wnxgnewsimg img{
  width:600px;
  text-align:center;
}
.wnxgnewsimg{
  margin:30px 0px;
  text-align:center;
}
.wnxgnewsimg_b img{
  width:300px;
  text-align:center;
}
.wnxgnewsimg_b{
  margin:30px 0px;
  text-align:center;
}
.wnxgnewsimg_c img{
  width:600px;
  text-align:center;
}
.wnxgnewsimg_c{
  margin:30px 0px;
  text-align:center;
}

}
