.manage-table {
  .icon-gou {
    color: #1AAD19;
  }
  .icon-cha {
    color: #E64340;
  }
  .actionIcon {
    cursor: pointer;
  }
  .icon-jia {
    line-height: 0px;
    position: relative;
    top: 1px;
    right: 2px;
  }
  .plantform-table {
    .iconfont {
      font-size: 18px;
    }
  }
}
