.house-table-expand {
  .ivu-collapse-item {
    position: relative;
  }
  .house-imgs-content {
    .img-item-content {
      position: relative;
      display: inline-block;
      width: 19%;
      margin: 5px;
      .house-imgs-item {
        width: 100%;
      }
    }
  }
  .img-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 00px;
    background-color: rgba(0,0,0,.4);
    line-height: 30px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    text-indent: 4px;
    transition: height .3s;
    .delete-img-icon {
      transition: font-size .3s;
      font-size: 0px;
      position: absolute;
      right: 5px;
      color: white;
    }
    .delete-img-icon:hover {
      cursor: pointer;
    }
    .img-name {
      position: absolute;
      left: 0px;
    }
  }
  .img-item-content:hover {
    .img-top {
      height: 30px;
    }
    .delete-img-icon {
      font-size: 16px;
    }
  }

  .house-type-content {
    position: relative;
    width: 100%;
    .house-type-item {
      display: inline-block;
      width: 33%;
    }
  }

  .house-advatage-content {
    .house-advatage-item {
      margin-bottom: 7px;
      .advatage-title, .title-index {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 7px;
      }
      .advantage-item-content {
        font-size: 14px;
        text-indent: 14px;
      }
    }
  }
}
